[package]
name = "erc20-token"
version = "0.1.0"
edition.workspace = true
license.workspace = true

[lib]
crate-type = ["cdylib"]

[dependencies]
massa-sc-sdk = { workspace = true }
massa-export = { workspace = true }
